<?xml version="1.0"?>
<config>
	<modules>
		<Unleaded_All>
			<version>0.1.0</version>
		</Unleaded_All>
	</modules>

	<frontend>
		<routers>
			<ulall>
				<use>standard</use>
				<args>
					<module>Unleaded_All</module>
					<frontName>ulall</frontName>
				</args>
			</ulall>
		</routers>
		<layout>
			<updates>
				<facebook>
					<file>facebook.xml</file>
				</facebook>
			</updates>
		</layout>
		<events>
			<controller_action_layout_render_before>
				<observers>
					<on_page_load>
						<type>singleton</type>
						<class>Unleaded_All_Model_Observer</class>
						<method>onPageLoad</method>
					</on_page_load>
				</observers>
			</controller_action_layout_render_before>
			<controller_action_postdispatch>
				<observers>
					<after_loaded>
						<type>singleton</type>
						<class>Unleaded_All_Model_Observer</class>
						<method>onPostDispatch</method>
					</after_loaded>
				</observers>
			</controller_action_postdispatch>
		</events>
	</frontend>

	<global>
		<models>
			<ulall>
				<class>Unleaded_All_Model</class>
			</ulall>
		</models>
		<blocks>
			<ulall>
				<class>Unleaded_All_Block</class>
			</ulall>
		</blocks>
		<helpers>
			<ulall>
				<class>Unleaded_All_Helper</class>
			</ulall>
		</helpers>
	</global>
</config>